<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Note App</title>
</head>
<body>
    <div id="main-page" class="h-screen w-full bg-zinc-900 text-white flex gap-4 justify-around items-center">
        <div id="left-side flex flex-col">
            <h1 class="text-2xl mb-4">Update Note</h1>
            <form action="/update/<%= note._id %>" method="post" class="flex flex-col justify-center items-center">
                <textarea class="resize-none w-96 h-24 bg-transparent border-2 border-zinc-300 rounded-md p-3 mb-2" name="content" id=""><%= note.content %></textarea>
                <input type="submit" value="Update Note" class="px-3 cursor-pointer py-2 bg-zinc-950 text-yellow-300 border-zinc-300 border-2 rounded-md w-44">
            </form>
        </div>
</body>
</html>